
<form class="example-form">
  <mat-form-field appearance="outline" style="width: 100%">
    <button mat-button matPrefix mat-icon-button aria-label="Search" (click)="emitMenuToggle()" class="search-indicator">
      <mat-icon>menu</mat-icon>
    </button>
    <input type="search"
           placeholder="Search"
           aria-label="Search"
           appDebounceInput
           matInput
           name="searchValue"
           [(ngModel)]="searchValue"
           (ngModelChange)="updateSearchQueryParam(searchValue)">

    <button mat-button class="action-clear-search" *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>

</form>
